.logo-img{
  width: 100px;
  height: 100px;
}
.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.checkbox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.aria-price {
  display: flex;
  justify-content: space-around;
}



.price-container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.dropdown-menu {
  position: absolute !important;
  left: unset !important;
  margin-top: .8rem !important;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}

body{
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

.info-group{
  display: flex;
  justify-content: space-around;
}

.btn-group{
  display: flex;
  justify-content: space-around;
}

.filter-category{
  display: flex;
  flex-direction: column;
  align-items: center;
}
